# Compiled directories #
########################
# ignore any level of subdirectories
**/pkg
**/src

/trash/*

# ignore any binary file
*.deb.*
*.rpm.*

# ignore any compressed file
*.tar.*
*.7z
*.rar
*.zip
*.tar
*.lzma

# ignore any .git directory
**/.git
